modules = ["python-3.12", "nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["espeak-ng", "freetype", "gitFull", "iana-etc", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "playwright-driver", "scrot", "tcl", "tesseract", "tk", "xvfb-run", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn -c gunicorn.conf.py wsgi:application"
waitForPort = 5000

[deployment]
deploymentTarget = "vm"
run = ["gunicorn", "-c", "gunicorn.conf.py", "wsgi:application"]

[[ports]]
localPort = 5000
externalPort = 80
